<ion-header>
    <ion-toolbar>
        <ion-title>
            Ionic Weather App
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="">
    <div class="ion-padding contenido">
        <ion-grid>
            <ion-row>
                <ion-col>
                </ion-col>

                <ion-col text-center>
                    <ion-button color="" (click)="updateWeather()">
                        <ion-icon name="refresh-circle"></ion-icon>
                    </ion-button>
                </ion-col>

                <ion-col>
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col text-center>
                    <ion-label color="">
                        <img width="84" height="84" src="https://darksky.net/images/weather-icons/{{icon}}.png" alt=""><br>{{locationName}}
                    </ion-label>
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col text-center>
                    <ion-label color="" class="temp">{{temperature | number:'.0-1'}}&deg;</ion-label>
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col text-center>
                    <ion-label color="">Humedad</ion-label>
                </ion-col>
                <ion-col text-center>
                    <ion-label color="">Lluvias</ion-label>
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col text-center>
                    <ion-label color="">{{humidity | number:'.0-1'}}%</ion-label>
                </ion-col>
                <ion-col text-center>
                    <ion-label color="">{{precipProbability | number:'.0-1'}}%</ion-label>
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col text-center>
                    <ion-label color="">{{summary}}</ion-label>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>
</ion-content>